* {
background: #6e94ff;
background: linear-gradient(90deg,rgba(110, 148, 255, 1) 0%, rgba(203, 125, 255, 1) 50%, rgba(255, 122, 251, 1) 100%);
font-family: 'Poppins', sans-serif;
color: black;
box-sizing: border-box;
}
